
.dragonball-footer {
  background: linear-gradient(90deg, #FFCC00, #FF6F00); 
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.dragonball-logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer-content p {
  font-family: 'Dragon Ball Z', sans-serif;
  font-size: 14px;
  color: #090909; 
}
  